 // DR Galushki Hole
 @font-face {
   font-family: 'DR Galushki Hole';
   src: url('@/assets/fonts/DR Galushki Hole/DR Galushki Hole.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }
